body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
.w3-bar,
h1 {
  font-family: "Montserrat", sans-serif;
}
.fa-anchor,
.fa-coffee {
  font-size: 200px;
}
// *My styles
div.w3-top {
  height: 51px;
}
header {
  background-image: url(./Media/header.jpg);
  width: 100%;
  height: 660px;
  margin-top: 51px;
}
