* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: "Ubuntu", sans-serif !important;
  background-color: initial;
}

.ubuntuFonts {
  font-family: "Ubuntu", sans-serif !important;
}

div.w3-top {
  height: 51px !important;
}

header {
  background-image: url(./Media/header.jpg);
  width: 100%;
  height: 685px;
  margin-top: 51px;
}

h1.title {
  text-align: center;
  font-style: italic;
  color: unset;
}

h2 {
  text-align: center;
  text-shadow: unset;
}

div.myWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 1260px !important;
}

div.myWrapper div.textPart {
  margin-right: 10px;
  margin-left: 10px;
}

div.myWrapper div.textPart a {
  color: #3f51b5;
}

div.myWrapper div.picPart {
  max-width: 450px !important;
  min-width: 380px !important;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div.myWrapper div.picPart img {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

div.myWrapper div.picPart img:hover {
  opacity: 0.6;
}

footer h3 {
  text-align: center;
  color: unset;
  font-style: italic;
}

footer h3 a {
  color: #3f51b5;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */